body {
    padding-top: 60px;
}

header .dropdown-toggle {
    cursor: pointer;
}

.container .container-wide {
    max-width: 1280px!important;;
}

#main_table_wrapper {
    margin-top: 26px;
}

#article_filter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}