body {
    padding-top: 60px;
    background-color: #eee;
}

header .dropdown-toggle {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container.container-wide {
        max-width: 1280px!important;
    }
}

#main_table_wrapper {
    margin-top: 26px;
}
#main_table_wrapper #main_table {
    background-color: #fff;
}

#article_filter {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}